<h4 style="text-align: center">Search for Legislators by State</h4>
<%= link_to 'Alabama', home_alabama_path, action: "alabama" %> | 
<%= link_to 'Alaska', home_alaska_path, action: "alaska" %> | 
<%= link_to 'Arkansas', home_arkansas_path, action: "arkansas" %> | 
<%= link_to 'Arizona', home_arizona_path, action: "arizona" %> | 
<%= link_to 'California', home_california_path, action: "california" %> | 
<%= link_to 'Colorado', home_colorado_path, action: "colorado" %> | 
<%= link_to 'Connecticut', home_connecticut_path, action: "connecticut" %> | 
<%= link_to 'Delaware', home_delaware_path, action: "delaware" %> | 
<%= link_to 'Florida', home_florida_path, action: "florida" %> | 
<%= link_to 'Georgia', home_georgia_path, action: "georgia" %> | 
<%= link_to 'Hawaii', home_hawaii_path, action: "hawaii" %> | 
<%= link_to 'Indiana', home_indiana_path, action: "indiana" %> | 
<%= link_to 'Iowa', home_iowa_path, action: "iowa" %> | 
<%= link_to 'Kansas', home_kansas_path, action: "kansas" %> | 
<%= link_to 'Kentucky', home_kentucky_path, action: "kentucky" %> | 
<%= link_to 'Louisiana', home_louisiana_path, action: "louisiana" %> | 
<%= link_to 'Maine', home_maine_path, action: "maine" %> | 
<%= link_to 'Maryland', home_maryland_path, action: "maryland" %> | 
<%= link_to 'Massachussets', home_massachussetts_path, action: "massachussetts" %> | 
<%= link_to 'Michigan', home_michigan_path, action: "michigan" %> | 
<%= link_to 'Minnesota', home_minnesota_path, action: "minnesota" %> | 
<%= link_to 'Mississippi', home_mississippi_path, action: "mississippi" %> | 
<%= link_to 'Missouri', home_missouri_path, action: "missouri" %> | 
<%= link_to 'Montana', home_montana_path, action: "montana" %> | 
<%= link_to 'Nebraska', home_nebraska_path, action: "nebraska" %> | 
<%= link_to 'Nevada', home_nevada_path, action: "nevada" %> | 
<%= link_to 'New Hampshire', home_newhampshire_path, action: "newhampshire" %> | 
<%= link_to 'New Jersey', home_newjersey_path, action: "newjersey" %> | 
<%= link_to 'New Mexico', home_newmexico_path, action: "newmexico" %> | 
<%= link_to 'New York', home_newyork_path, action: "newyork" %> | 
<%= link_to 'North Carolina', home_northcarolina_path, action: "northcarolina" %> | 
<%= link_to 'North Dakota', home_northdakota_path, action: "northdakota" %> | 
<%= link_to 'Ohio', home_ohio_path, action: "ohio" %> | 
<%= link_to 'Oklahoma', home_oklahoma_path, action: "oklahoma" %> | 
<%= link_to 'Oregon', home_oregon_path, action: "oregon" %> | 
<%= link_to 'Pennsylvania', home_pennsylvania_path, action: "pennsylvania" %> | 
<%= link_to 'Rhode Island', home_rhodeisland_path, action: "rhodeisland" %> | 
<%= link_to 'South Carolina', home_southcarolina_path, action: "southcarolina" %> | 
<%= link_to 'Tennessee', home_tennessee_path, action: "tennessee" %> | 
<%= link_to 'Texas', home_texas_path, action: "texas" %> | 
<%= link_to 'Utah', home_utah_path, action: "utah" %> | 
<%= link_to 'Vermont', home_vermont_path, action: "vermont" %> | 
<%= link_to 'Virginia', home_virginia_path, action: "virginia" %> | 
<%= link_to 'Washington', home_washington_path, action: "washington" %> | 
<%= link_to 'West Virginia', home_westvirginia_path, action: "westvirginia" %> | 
<%= link_to 'Wisconsin', home_wisconsin_path, action: "wisconsin" %> | 
<%= link_to 'Wyoming', home_wyoming_path, action: "wyoming" %>