<h2 style="text-align: center">United States Legislators</h2>
<%= render 'home/states/alabama' %><hr>
<%= render 'home/states/alaska' %><hr>
<%= render 'home/states/arkansas' %><hr>
<%= render 'home/states/arizona' %><hr>
<%= render 'home/states/california' %><hr>
<%= render 'home/states/colorado' %><hr>
<%= render 'home/states/connecticut' %><hr>
<%= render 'home/states/delaware' %><hr>
<%= render 'home/states/florida' %><hr>
<%= render 'home/states/georgia' %><hr>
<%= render 'home/states/hawaii' %><hr>
<%= render 'home/states/indiana' %><hr>
<%= render 'home/states/iowa' %><hr>
<%= render 'home/states/kansas' %><hr>
<%= render 'home/states/kentucky' %><hr>
<%= render 'home/states/louisiana' %><hr>
<%= render 'home/states/maine' %><hr>
<%= render 'home/states/maryland' %><hr>
<%= render 'home/states/massachussetts' %><hr>
<%= render 'home/states/michigan' %><hr>
<%= render 'home/states/minnesota' %><hr>
<%= render 'home/states/mississippi' %><hr>
<%= render 'home/states/missouri' %><hr>
<%= render 'home/states/montana' %>
<%= render 'home/states/nebraska' %><hr>
<%= render 'home/states/nevada' %>
<%= render 'home/states/newhampshire' %><hr>
<%= render 'home/states/newjersey' %>
<%= render 'home/states/newmexico' %><hr>
<%= render 'home/states/newyork' %>
<%= render 'home/states/northcarolina' %><hr>
<%= render 'home/states/northdakota' %>
<%= render 'home/states/ohio' %><hr>
<%= render 'home/states/oklahoma' %>
<%= render 'home/states/oregon' %><hr>
<%= render 'home/states/pennsylvania' %>
<%= render 'home/states/rhodeisland' %><hr>
<%= render 'home/states/southcarolina' %>
<%= render 'home/states/tennessee' %><hr>
<%= render 'home/states/texas' %><hr>
<%= render 'home/states/utah' %><hr>
<%= render 'home/states/vermont' %><hr>
<%= render 'home/states/virginia' %><hr>
<%= render 'home/states/washington' %><hr>
<%= render 'home/states/westvirginia' %><hr>
<%= render 'home/states/wisconsin' %><hr>
<%= render 'home/states/wyoming' %><hr>