<br />
<div class="row">
	<div class="col-md-6">
		<h5 style="text-align: center">Search for Legislators by Party</h5>
		<p style="text-align: center">
			<%= link_to 'Democrat', '#' %> | 
			<%= link_to 'Republican', '#' %>
		</p>
	</div>
	<div class="col-md-6">
		<h5 style="text-align: center">Search for Legislators by Gender</h5>
		<p style="text-align: center">
			<%= link_to 'Male', '#' %> | 
			<%= link_to 'Female', '#' %>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h5 style="text-align: center">Search for a Cause or Start One</h5>
		<p style="text-align: center">
			<%= link_to 'Causes', '#' %> |  
			<%= link_to 'Start a Cause', '#' %>
		</p>
	</div>
	<div class="col-md-6">
		<h5 style="text-align: center">Search the Past Messages Archive</h5>
		<p style="text-align: center">
			<%= link_to 'Past Messages', '#' %>
		</p>
	</div>
</div>