<div class="row-fluid">
	<div class="col-md-8">
		<%= render 'home/by_state_links' %>
		<div class="row">
			<div class="col-md-12">
				<%= render 'home/search_by_links' %>
			</div>	
			<div class="col-md-12">
				<%= render 'home/legislators_div' %>
			</div>
		</div>
		<br />
	</div>
</div>
<div class="col-md-4">
	<%= render 'home/about_robo_citizen' %>
	<br />
	<%= render 'home/about_robo_citizen' %>
</div>