<%= render template: "layouts/global/application" %>
<div class="container-fluid">
	<br />
	<div class="row-fluid">
		<div class="col-md-8">
			<%= render 'home/partials/state_header' %>
		</div>
		<div class="col-md-4">
			<div class="well" id="legislator_list">
				<%= render 'home/partials/active_pols_per_state' %>
			</div>
			<br />
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<div class="well" id="legislator_list">
						<%= yield %>
					</div>
				</div>
			</div>
			<br />	
		</div>
	</div>
	<div class="col-md-4">
		<%= render 'home/partials/about_robo_citizen' %>
	</div>
</div>