<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Navigation Toggle Button</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "RoboCitizen", root_path, class: 'navbar-brand' %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Causes", '#' %></li>
        <li><%= link_to "Messages", '#' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" id="account_dd">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
            <ul class="dropdown-menu">
             <li><a href="#">About RoboCitizen</a></li>
             <li class="divider"></li>
             <li><a href="http://github.com/Cfeusier/RoboCitizen" target="_blank">Fork on Github</a></li>
             <li class="divider"></li>
             <li><a href="#">Legal Stuff</a></li>
           </ul>
         </li>
      </ul>
   </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
</nav>
<h2 class="notice"><%= alert %></h2>