<!DOCTYPE html>
<html lang="en">
<head>
	<title>RoboCitizen</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>	
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!-- GOOGLE TAG MANAGER CONTAINER -->
	<noscript>
		<iframe src="//www.googletagmanager.com/ns.html?id=GTM-MBL5QD" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<script type="text/javascript">
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MBL5QD');</script>
	<!-- END OF GOOGLE TAG MANAGER CONTAINER -->

	<%= render '/layouts/global/header' %>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-12">
				<%= yield %>
			</div>
		</div>
	</div>

	<%= render '/layouts/global/footer' %>
</body>
</html>
