<br />
<div class="well" id="active_states_well">
	<h2 style="text-align: center">Most Active States</h2>
	<li id="active_states_links"><%= link_to 'California', california_path, action: :california %></li>
	<li id="active_states_links"><%= link_to 'Colorado', colorado_path, action: :colorado %></li>
	<li id="active_states_links"><%= link_to 'New York', newyork_path, action: :newyork %></li>
	<li id="active_states_links"><%= link_to 'Oregon', oregon_path, action: :oregon %></li>
	<li id="active_states_links"><%= link_to 'Pennsylvania', pennsylvania_path, action: :pennsylvania %></li>
	<li id="active_states_links"><%= link_to 'California', california_path, action: :california %></li>
	<li id="active_states_links"><%= link_to 'Colorado', colorado_path, action: :colorado %></li>
	<li id="active_states_links"><%= link_to 'New York', newyork_path, action: :newyork %></li>
	<li id="active_states_links"><%= link_to 'Oregon', oregon_path, action: :oregon %></li>
	<li id="active_states_links"><%= link_to 'Pennsylvania', pennsylvania_path, action: :pennsylvania %></li>
	<li id="active_states_links"><%= link_to 'California', california_path, action: :california %></li>
	<li id="active_states_links"><%= link_to 'Colorado', colorado_path, action: :colorado %></li>
	<li id="active_states_links"><%= link_to 'New York', newyork_path, action: :newyork %></li>
	<li id="active_states_links"><%= link_to 'Oregon', oregon_path, action: :oregon %></li>
	<li id="active_states_links"><%= link_to 'Pennsylvania', pennsylvania_path, action: :pennsylvania %></li>
	<li id="active_states_links"><%= link_to 'California', california_path, action: :california %></li>
	<li id="active_states_links"><%= link_to 'Colorado', colorado_path, action: :colorado %></li>
	<li id="active_states_links"><%= link_to 'New York', newyork_path, action: :newyork %></li>
</div>