<br />
<div class="well" id="active_states_well">
	<h2 style="text-align: center">Most Active States</h2>
	<li id="active_states_links"><%= link_to 'California', california_path, action: :california %></li>
	<li id="active_states_links"><%= link_to 'Colorado', colorado_path, action: :colorado %></li>
	<li id="active_states_links"><%= link_to 'New York', newyork_path, action: :newyork %></li>
	<li id="active_states_links"><%= link_to 'Oregon', oregon_path, action: :oregon %></li>
	<li id="active_states_links"><%= link_to 'Pennsylvania', pennsylvania_path, action: :pennsylvania %></li>
	<li id="active_states_links"><%= link_to 'Arizona', arizona_path, action: "arizona" %></li>
	<li id="active_states_links"><%= link_to 'Connecticut', connecticut_path, action: "connecticut" %></li>
	<li id="active_states_links"><%= link_to 'Hawaii', hawaii_path, action: "hawaii" %></li>
	<li id="active_states_links"><%= link_to 'Maryland', maryland_path, action: "maryland" %></li>
	<li id="active_states_links"><%= link_to 'Massachusetts', massachusetts_path, action: "massachusetts" %></li>
	<li id="active_states_links"><%= link_to 'Michigan', michigan_path, action: "michigan" %></li>
	<li id="active_states_links"><%= link_to 'Ohio', ohio_path, action: "ohio" %></li>
	<li id="active_states_links"><%= link_to 'Texas', texas_path, action: "texas" %></li>
	<li id="active_states_links"><%= link_to 'Vermont', vermont_path, action: "vermont" %></li>
	<li id="active_states_links"><%= link_to 'Washington', washington_path, action: "washington" %></li>
	<li id="active_states_links"><%= link_to 'New Mexico', newmexico_path, action: "newmexico" %></li>
	<li id="active_states_links"><%= link_to 'Indiana', indiana_path, action: "indiana" %></li>
	<li id="active_states_links"><%= link_to 'Florida', florida_path, action: "florida" %></li>
</div>