<div class="well" id="site_links">
	<h4 style="text-align: center">Search for Legislators by State</h4>
	<%= link_to 'Alabama', alabama_path, action: "alabama" %> | 
	<%= link_to 'Alaska', alaska_path, action: "alaska" %> | 
	<%= link_to 'Arkansas', arkansas_path, action: "arkansas" %> | 
	<%= link_to 'Arizona', arizona_path, action: "arizona" %> | 
	<%= link_to 'California', california_path, action: "california" %> | 
	<%= link_to 'Colorado', colorado_path, action: "colorado" %> | 
	<%= link_to 'Connecticut', connecticut_path, action: "connecticut" %> | 
	<%= link_to 'Delaware', delaware_path, action: "delaware" %> | 
	<%= link_to 'Florida', florida_path, action: "florida" %> | 
	<%= link_to 'Georgia', georgia_path, action: "georgia" %> | 
	<%= link_to 'Hawaii', hawaii_path, action: "hawaii" %> | 
	<%= link_to 'Indiana', indiana_path, action: "indiana" %> | 
	<%= link_to 'Iowa', iowa_path, action: "iowa" %> | 
	<%= link_to 'Kansas', kansas_path, action: "kansas" %> | 
	<%= link_to 'Kentucky', kentucky_path, action: "kentucky" %> | 
	<%= link_to 'Louisiana', louisiana_path, action: "louisiana" %> | 
	<%= link_to 'Maine', maine_path, action: "maine" %> | 
	<%= link_to 'Maryland', maryland_path, action: "maryland" %> | 
	<%= link_to 'Massachusetts', massachusetts_path, action: "massachusetts" %> | 
	<%= link_to 'Michigan', michigan_path, action: "michigan" %> | 
	<%= link_to 'Minnesota', minnesota_path, action: "minnesota" %> | 
	<%= link_to 'Mississippi', mississippi_path, action: "mississippi" %> | 
	<%= link_to 'Missouri', missouri_path, action: "missouri" %> | 
	<%= link_to 'Montana', montana_path, action: "montana" %> | 
	<%= link_to 'Nebraska', nebraska_path, action: "nebraska" %> | 
	<%= link_to 'Nevada', nevada_path, action: "nevada" %> | 
	<%= link_to 'New Hampshire', newhampshire_path, action: "newhampshire" %> | 
	<%= link_to 'New Jersey', newjersey_path, action: "newjersey" %> | 
	<%= link_to 'New Mexico', newmexico_path, action: "newmexico" %> | 
	<%= link_to 'New York', newyork_path, action: "newyork" %> | 
	<%= link_to 'North Carolina', northcarolina_path, action: "northcarolina" %> | 
	<%= link_to 'North Dakota', northdakota_path, action: "northdakota" %> | 
	<%= link_to 'Ohio', ohio_path, action: "ohio" %> | 
	<%= link_to 'Oklahoma', oklahoma_path, action: "oklahoma" %> | 
	<%= link_to 'Oregon', oregon_path, action: "oregon" %> | 
	<%= link_to 'Pennsylvania', pennsylvania_path, action: "pennsylvania" %> | 
	<%= link_to 'Rhode Island', rhodeisland_path, action: "rhodeisland" %> | 
	<%= link_to 'South Carolina', southcarolina_path, action: "southcarolina" %> | 
	<%= link_to 'Tennessee', tennessee_path, action: "tennessee" %> | 
	<%= link_to 'Texas', texas_path, action: "texas" %> | 
	<%= link_to 'Utah', utah_path, action: "utah" %> | 
	<%= link_to 'Vermont', vermont_path, action: "vermont" %> | 
	<%= link_to 'Virginia', virginia_path, action: "virginia" %> | 
	<%= link_to 'Washington', washington_path, action: "washington" %> | 
	<%= link_to 'West Virginia', westvirginia_path, action: "westvirginia" %> | 
	<%= link_to 'Wisconsin', wisconsin_path, action: "wisconsin" %> | 
	<%= link_to 'Wyoming', wyoming_path, action: "wyoming" %>
</div>