<div class="well collapse-group" id="legislators_div">
	<h3 style="text-align: center">List of United States Legislators</h3>
	<button style="width: auto; height: 42px;" type="button" class="btn btn-primary btn-lg center-block" data-toggle="collapse" data-target="#viewdetails" id="see_hide_toggle">Show All Legislators</button>
	<hr>
	<div class="collapse" id="viewdetails">
		<div class="row">
			<div class="col-md-6">
				<a style="text-align: center" id="stateid" data-toggle="collapse" data-target="#viewalabama">Alabama +</a> <br /> 
				<div class="collapse" id="viewalabama">
					<%= render 'home/states/alabama' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewalaska">Alaska +</a> <br />
				<div class="collapse" id="viewalaska">
					<%= render 'home/states/alaska' %>
				</div> 
				<a id="stateid" data-toggle="collapse" data-target="#viewarkansas">Arkansas +</a> <br /> 
				<div class="collapse" id="viewarkansas">
					<%= render 'home/states/arkansas' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewarizona">Arizona +</a> <br /> 
				<div class="collapse" id="viewarizona">
					<%= render 'home/states/arizona' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewcalifornia">California +</a> <br /> 
				<div class="collapse" id="viewcalifornia">
					<%= render 'home/states/california' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewcolorado">Colorado +</a> <br /> 
				<div class="collapse" id="viewcolorado">
					<%= render 'home/states/colorado' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewconnecticut">Connecticut +</a> <br />
				<div class="collapse" id="viewconnecticut">
					<%= render 'home/states/connecticut' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewdelaware">Delaware +</a> <br />
				<div class="collapse" id="viewdelaware">
					<%= render 'home/states/delaware' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewflorida">Florida +</a> <br />
				<div class="collapse" id="viewflorida">
					<%= render 'home/states/florida' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewgeorgia">Georgia +</a> <br />
				<div class="collapse" id="viewgeorgia">
					<%= render 'home/states/georgia' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewhawaii">Hawaii +</a> <br />
				<div class="collapse" id="viewhawaii">
					<%= render 'home/states/hawaii' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewindiana">Indiana +</a> <br />
				<div class="collapse" id="viewindiana">
					<%= render 'home/states/indiana' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewiowa">Iowa +</a> <br />
				<div class="collapse" id="viewiowa">
					<%= render 'home/states/iowa' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewkansas">Kansas +</a> <br />
				<div class="collapse" id="viewkansas">
					<%= render 'home/states/kansas' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewkentucky">Kentucky +</a> <br />
				<div class="collapse" id="viewkentucky">
					<%= render 'home/states/kentucky' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewlouisiana">Louisiana +</a> <br />
				<div class="collapse" id="viewlouisiana">
					<%= render 'home/states/louisiana' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewmaine">Maine +</a> <br />
				<div class="collapse" id="viewmaine">
					<%= render 'home/states/maine' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewmaryland">Maryland +</a> <br />
				<div class="collapse" id="viewmaryland">
					<%= render 'home/states/maryland' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewmassachusetts">Massachusetts +</a> <br />
				<div class="collapse" id="viewmassachusetts">
					<%= render 'home/states/massachusetts' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewmichigan">Michigan +</a> <br />
				<div class="collapse" id="viewmichigan">
					<%= render 'home/states/michigan' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewminnesota">Minnesota +</a> <br />
				<div class="collapse" id="viewminnesota">
					<%= render 'home/states/minnesota' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewmississippi">Mississippi +</a> <br />
				<div class="collapse" id="viewmississippi">
					<%= render 'home/states/mississippi' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewmissouri">Missouri +</a> <br />
				<div class="collapse" id="viewmissouri">
					<%= render 'home/states/missouri' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewmontana">Montana +</a> <br />
				<div class="collapse" id="viewmontana">
					<%= render 'home/states/montana' %>
				</div>
			</div>
			<div class="col-md-6">
				<a id="stateid" data-toggle="collapse" data-target="#viewnebraska">Nebraska +</a> <br />
				<div class="collapse" id="viewnebraska">
					<%= render 'home/states/nebraska' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewnevada">Nevada +</a> <br />
				<div class="collapse" id="viewnevada">
					<%= render 'home/states/nevada' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewnewhampshire">New Hampshire +</a> <br />
				<div class="collapse" id="viewnewhampshire">
					<%= render 'home/states/newhampshire' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewnewjersey">New Jersey +</a> <br />
				<div class="collapse" id="viewnewjersey">
					<%= render 'home/states/newjersey' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewnewmexico">New Mexico +</a> <br />
				<div class="collapse" id="viewnewmexico">
					<%= render 'home/states/newmexico' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewnewyork">New York +</a> <br />
				<div class="collapse" id="viewnewyork">
					<%= render 'home/states/newyork' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewnorthcarolina">North Carolina +</a> <br />
				<div class="collapse" id="viewnorthcarolina">
					<%= render 'home/states/northcarolina' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewnorthdakota">North Dakota +</a> <br />
				<div class="collapse" id="viewnorthdakota">
					<%= render 'home/states/northdakota' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewohio">Ohio +</a> <br />
				<div class="collapse" id="viewohio">
					<%= render 'home/states/ohio' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewoklahoma">Oklahoma +</a> <br />
				<div class="collapse" id="viewoklahoma">
					<%= render 'home/states/oklahoma' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#vieworegon">Oregon +</a> <br />
				<div class="collapse" id="vieworegon">
					<%= render 'home/states/oregon' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewpennsylvania">Pennsylvania +</a> <br />
				<div class="collapse" id="viewpennsylvania">
					<%= render 'home/states/pennsylvania' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewrhodeisland">Rhode Island +</a> <br />
				<div class="collapse" id="viewrhodeisland">
					<%= render 'home/states/rhodeisland' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewsouthcarolina">South Carolina +</a> <br />
				<div class="collapse" id="viewsouthcarolina">
					<%= render 'home/states/southcarolina' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewtennessee">Tennessee +</a> <br />
				<div class="collapse" id="viewtennessee">
					<%= render 'home/states/tennessee' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewtexas">Texas +</a> <br />
				<div class="collapse" id="viewtexas">
					<%= render 'home/states/texas' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewutah">Utah +</a> <br />
				<div class="collapse" id="viewutah">
					<%= render 'home/states/utah' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewvermont">Vermont +</a> <br />
				<div class="collapse" id="viewvermont">
					<%= render 'home/states/vermont' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewvirginia">Virginia +</a> <br />
				<div class="collapse" id="viewvirginia">
					<%= render 'home/states/virginia' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewwashington">Washington +</a> <br />
				<div class="collapse" id="viewwashington">
					<%= render 'home/states/washington' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewwestvirginia">West Virginia +</a> <br />
				<div class="collapse" id="viewwestvirginia">
					<%= render 'home/states/westvirginia' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewwisconsin">Wisconsin +</a> <br />
				<div class="collapse" id="viewwisconsin">
					<%= render 'home/states/wisconsin' %>
				</div>
				<a id="stateid" data-toggle="collapse" data-target="#viewwyoming">Wyoming +</a> <br />
				<div class="collapse" id="viewwyoming">
					<%= render 'home/states/wyoming' %>
				</div>	
			</div>
		</div>
	</div>
</div>