<%= render template: "layouts/application" %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<div class="well" id="legislator_list">
						<h1 style="text-align: center"><%= rpath_to_state %></h1>
						<hr>
						<%= yield %>
					</div>
				</div>
			</div>
			<br />	
		</div>
	</div>
	<div class="col-md-4">
		<%= render 'home/state_sidebar' %>
		<br />
		<%= render 'home/about_robo_citizen' %>
	</div>
</div>